
 
  <!-- slider Area Start-->
  <div class="slider-area ">
    <!-- Mobile Menu -->
    <div class="single-slider slider-height2 d-flex align-items-center" data-background="assets/img/hero/carthero.jpg">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center">
                         <h2 style="color: whitesmoke;">Cart </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <!-- slider Area End-->

  <!--================Cart Area =================-->
  <section class="cart_area section_padding">
    <div class="container">
      <div class="cart_inner">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Product</th>
                <th scope="col">Price</th>
                {{!-- <th scope="col">Quantity</th>
                <th scope="col">Total</th> --}}
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div class="media">
                    <div class="d-flex">
                      <img src="assets/img/arrivel/samsunggalaxy.jpg" alt="" />
                    </div>
                    <div class="media-body">
                      <p>Samsung Galaxy S10+</p>
                    </div>
                  </div>
                </td>
                <td>
                  <h5>CAD $979.99</h5>
                </td>
                {{!-- <td>
                  <div class="product_count">
                    <!-- <input type="text" value="1" min="0" max="10" title="Quantity:"
                      class="input-text qty input-number" />
                    <button
                      class="increase input-number-increment items-count" type="button">
                      <i class="ti-angle-up"></i>
                    </button>
                    <button
                      class="reduced input-number-decrement items-count" type="button">
                      <i class="ti-angle-down"></i>
                    </button> -->
                    <span class="input-number-decrement"> <i class="ti-minus"></i></span>
                    <input class="input-number" type="text" value="1" min="0" max="10">
                    <span class="input-number-increment"> <i class="ti-plus"></i></span>
                  </div>
                </td> --}}
                {{!-- <td>
                  <h5>$36.00</h5>
                </td> --}}
                 <td>
                  <a href="#" style="color: red; text-decoration: underline;">Remove</a>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="media">
                    <div class="d-flex">
                      <img src="assets/img/arrivel/windowstablet.jpg" alt="" />
                    </div>
                    <div class="media-body">
                      <p>
Windows Surface Go 2 </p>
                    </div>
                  </div>
                </td>
                <td>
                  <h5>CAD $529 </h5>
                </td>
                
                {{!-- <td>
                  <div class="product_count">
                      <span class="input-number-decrement"> <i class="ti-minus"></i></span>
                      <input class="input-number" type="text" value="1" min="0" max="10">
                      <span class="input-number-increment"> <i class="ti-plus"></i></span>
                  </div>
                </td> --}}
                {{!-- <td>
                  <h5>CAD $529.00</h5>
                </td> --}}
                <td>
                  <a href="#" style="color: red; text-decoration: underline;">Remove</a>
                </td>
              </tr>
            
              <tr>
                <td></td>
                
                <td>
                  <h5>Subtotal</h5>
                </td>
                <td>
                  <h5></h5>
                </td>
              </tr>
              <tr class="shipping_area">
                <td></td>
                
                <td>
                  <h5>Shipping</h5>
                </td>
                
                <td>
                  <div class="shipping_box">
                    <ul class="list">
                      <li>
                        Standard : $8.00
                        <input type="radio" aria-label="Radio button for following text input">
                      </li>
                    
                      <li>
                        Express : $15.00
                        <input type="radio" aria-label="Radio button for following text input">
                      </li>
                     
                    </ul>
                  
                  
                    
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="checkout_btn_inner float-right">
            <a class="btn_1" href="/products">Continue Shopping</a>
            <a class="btn_1 checkout_btn_1" href="/checkout">Proceed to checkout</a>
          </div>
        </div>
      </div>
  </section>
  <!--================End Cart Area =================--> 

  {{!-- <form name="ShoppingList">
    <fieldset>
        <legend>Shopping cart</legend>
        <label>Item: <input type="text" id="item" name="name"></label>
        <label>Price: <input type="text" id="price" name="data"></label>

        <button data-number="10" type="button" class="btn btn-primary btn-save2" onclick="sessionStorage.setItem($('#item').val(), $('#price').val()); console.log('item saved')">Save</button>
        <input type="button" value="Update" onclick="ModifyItem()">
        <input type="button" value="Delete" onclick="RemoveItem()">
    </fieldset>
    <div id="items_table">
        <h2>Shopping List</h2>
        <table id="list"></table>
        <label><input type="button" value="Clear" onclick="ClearAll()">
        * Delete all items</label>
    </div>
</form> --}}


<script>
$(window).load(function() {
  doShowAll();
});

var saveItem = function {
  sessionStorage.setItem('test', 24)
    {{!-- var currentSaveBtn = $(this).attr("data-number")
    console.log("save button clicked")
    input = $("#" + currentSaveBtn)
    console.log(input.val())
    sessionStorage.setItem("item", input.val());
    console.log(currentTime) --}}
}

// Dynamically populate the table with shopping list items.
//Step below can be done via PHP and AJAX, too.
function doShowAll() {
    if (CheckBrowser()) {
        var key = "";
        var list = "<tr><th>Item</th><th>Value</th></tr>\n";
        var i = 0;
        //For a more advanced feature, you can set a cap on max items in the cart.
        for (i = 0; i <= localStorage.length-1; i++) {
            key = localStorage.key(i);
            list += "<tr><td>" + key + "</td>\n<td>"
                    + localStorage.getItem(key) + "</td></tr>\n";
        }
        //If no item exists in the cart.
        if (list == "<tr><th>Item</th><th>Value</th></tr>\n") {
            list += "<tr><td><i>empty</i></td>\n<td><i>empty</i></td></tr>\n";
        }
        //Bind the data to HTML table.
        //You can use jQuery, too.
        $(‘#list’).html()=list;
    } else {
        alert('Cannot save shopping list as your browser does not support HTML 5');
    }
}

localStorage.setItem('propertyName','value');
localStorage.getItem('propertyName');
localStorage.removeItem('propertyName');

function SaveItem() {
  console.log("save item clicked")
    var name = $("#name").val();
    var data = $("#data").val();
    localStorage.setItem(name, data);
    doShowAll();
}
function RemoveItem()
{
var name=document.forms.ShoppingList.name.value;
document.forms.ShoppingList.data.value=localStorage.removeItem(name);
doShowAll();
}



</script>