<!--================Cart Area =================-->
<section class="cart_area">
  <div class="hero-cap text-center">
    <h2>Cart </h2>
  </div>
  <div class="container">
    <div class="cart_inner">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Product</th>
              <th scope="col">Price</th>

            </tr>
          </thead>
          <tbody>
            {{#each cartItems}}


            <tr>
              <td>
                <div class="media">
                  {{!-- <div class="d-flex">
                      <img src="assets/img/arrivel/samsunggalaxy.jpg" alt="" />
                    </div> --}}
                  <div class="media-body">
                    <p>{{this.product_name}}</p>
                  </div>
                </div>
              </td>
              <td>
                <h5> ${{this.price}} CAD</h5>
              </td>
              {{!-- <td>
                  <div class="product_count">
                    <!-- <input type="text" value="1" min="0" max="10" title="Quantity:"
                      class="input-text qty input-number" />
                    <button
                      class="increase input-number-increment items-count" type="button">
                      <i class="ti-angle-up"></i>
                    </button>
                    <button
                      class="reduced input-number-decrement items-count" type="button">
                      <i class="ti-angle-down"></i>
                    </button> -->
                    <span class="input-number-decrement"> <i class="ti-minus"></i></span>
                    <input class="input-number" type="text" value="1" min="0" max="10">
                    <span class="input-number-increment"> <i class="ti-plus"></i></span>
                  </div>
                </td> --}}
              {{!-- <td>
                  <h5>$36.00</h5>
                </td> --}}
              <td>
                <a href="#" onclick="removeData('{{this.cart_id}}')"
                  style="color: red; text-decoration: underline;">Remove</a>
              </td>
              {{/each}}
            </tr>
            <tr>
              <td></td>

              <td>
                <h5>Subtotal</h5>
              </td>


              <td>
                <h5>{{sum cartItems}}</h5>
              </td>

            </tr>
            <tr class="shipping_area">
              <td></td>

              <td>
                <h5>Shipping</h5>
              </td>

              <td>
                <div class="shipping_box">
                  <ul class="list">
                    <li>
                      <label for="standardShipping"> Standard : $8.00 </label>
                      <input type="radio" value="8" aria-label="Radio button for following text input"
                        onclick="addToShipping(this.value);">
                    </li>

                    <li>
                      <label for="expressShipping"> Express : $15.00 </label>
                      <input type="radio" value="15" aria-label="Radio button for following text input"
                        onclick="addToShipping(this.value);">
                    </li>

                  </ul>



                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="checkout_btn_inner float-right">
          <a class="btn_1" href="/products">Continue Shopping</a>
          <a class="btn_1 checkout_btn_1" href="/checkout">Proceed to checkout</a>
        </div>
      </div>
    </div>
</section>
<!--================End Cart Area =================-->


<script>

  // api call to delete item

  function removeData(cartId) {
    const queryUrl = "/api/cart/" + cartId
    $.ajax({
      url: queryUrl,
      type: 'DELETE',
      success: function (result) {
        // Do something with the result

        window.location.href = "/cart"
      },
      error: function (data) {
        console.log(data)
      }

    });
  }

  // adding shipping selection to subtotal
  function addToShipping(value) {
    if (value == 8) {
      subTotal + 8;
      return subTotal
      console.log(subTotal)
    } else if (value == 15) {
      subTotal + 15;
      return subTotal
      console.log(subTotal)
    }
  }

</script>