<section class="contact-section">
    <div class="container">

        <div class="row">
            <div class="col-lg-6">
                <div class="feature_part_tittle">
                    <h2>Our Mission</h2>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="feature_part_content">
                    <p>goAds.com is continually striving to provide the highest quality online advertising services to
                        businesses and individuals
                        to serve local businesses and personal needs as well as opportunity for our customers,
                        employees, community, and vendors through their growth of products and services.</p>
                </div>
            </div>
            <div class="col-lg-3 offset-lg-1">
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="ti-home"></i></span>
                    <div class="media-body">
                        <h3>Toronto, Ontario</h3>
                        <p> CA A1B2C3</p>
                    </div>
                </div>
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="ti-tablet"></i></span>
                    <div class="media-body">
                        <h3>+1 416 123 4567</h3>
                        <p>Mon to Fri 9am to 6pm</p>
                    </div>
                </div>
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="ti-email"></i></span>
                    <div class="media-body">
                        <h3>support@goads.com</h3>
                        <p>Send us your query anytime!</p>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>