<main class="contact-us-view">
    <section>
        <h3>Contact Us</h3>
        <p>We are here to answer any questions you may have about our combadi experiences.
            Reach out to us and we'll
            respond as soon as we can.</p>
        <p class="margin-bottom-10">Even if there is somthing you have always wanted to experience
            and can't find it on
            combadi, let us know and
            we promise, we'll do our best to find it for you and send you there.</p>
    </section>

    <div class="grid contact-form-grid">
        <form action="/#" autocomplete="on" class="contact-form">

            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 form-input-field-lf">
                    <label for="fname" class="font-size-12">Name <span class="required-field">*</span></label>
                    <input autocomplete="on" type="text" class="input-field-item" />
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 form-input-field-rt">
                    <label for="email" class="font-size-12">Email <span class="required-field">*</span></label>
                    <input autocomplete="on" type="email" class="input-field-item" />
                </div>

            </div>
            <div class="row  contact-us-textarea-row">
                <label for="message" class="font-size-12">Message <span class="required-field">*</span></label>
                <textarea id="message" name="message" class="contact-us-textarea"></textarea>
            </div>
            <button class="contact-us-btn">Submit</button>
        </form>
    </div>
</main>