<div class="grid">
    {{#each dbProduct}}
    <div class="row">
        {{!-- {{#each this}} --}}
        {{#dataValues}}
        <div class="column card col-xl-4 m-4">
            <div class="card-body">
                <a href="#"><img src="/assets/img/gallery/dummy_pic.png"></a>
                <p><span class="label"><b>Name :</b></span> {{this.product_name}}</p>
                <p><span class="label"><b>Price :</b></span> {{this.price}} CAD</p>
                <p><span class="label"><b>Category :</b></span> {{this.category}}</p>
                <p><span class="label"><b>Description :</b></span> {{this.description}}</p>
            </div>
        </div>
        {{/dataValues}}
        {{!-- {{/each}} --}}
    </div>
    {{/each}}
</div>