<main>
    <!-- slider Area Start -->
    <div class="slider-area">
        <!-- Mobile Menu -->
        <div class="slider-active">
            <div class="single-slider slider-height" data-background="assets/img/hero/h1_hero.jpg">
                <div class="container">
                    <div class="row d-flex align-items-center justify-content-between">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 d-none d-md-block">
                            <div class="hero__img" data-animation="bounceIn" data-delay=".4s">
                                <img src="assets/img/hero/carty.jpg" style="border-radius:50%; height: auto;"
                                    alt="cart_img" />
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-8">
                            <div class="hero__caption">
                                <span data-animation="fadeInRight" data-delay=".4s">New Deals</span>
                                <h1 data-animation="fadeInRight" data-delay=".6s">
                                    Posted <br />
                                    Daily
                                </h1>


                                </h1>
                                <p data-animation="fadeInRight" data-delay=".8s">
                                    Everything you need, for less!
                                </p>
                                <!-- Hero-btn -->
                                <div class="hero__btn" data-animation="fadeInRight" data-delay="1s">
                                    <a href="/deals" class="btn hero-btn" style="background-color: black;">Shop Now <i
                                            class="fas fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{!-- <div class="single-slider slider-height" data-background="assets/img/hero/hero.jpg">
                <div class="container">
                    <div class="row d-flex align-items-center justify-content-between">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 d-none d-md-block">
                            <div class="hero__img" data-animation="bounceIn" data-delay=".4s">
                                <img src="assets/img/hero/carty.jpg" alt="" />
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-8">
                            <div class="hero__caption">
                                <span data-animation="fadeInRight" data-delay=".4s">New Deals</span>
                                <h1 data-animation="fadeInRight" data-delay=".6s">
                                    Posted <br />
                                    Daily
                                </h1>
                                <p data-animation="fadeInRight" data-delay=".8s">
                                    Everything you need, for less!
                                </p>
                                <!-- Hero-btn -->
                                <div class="hero__btn" data-animation="fadeInRight" data-delay="1s">
                                    <!-- Top deals : based on discounts-show upto 12 -->
                                    <a href="deals.html" class="btn hero-btn">Shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> --}}
        </div>
    </div>
    <!-- slider Area End-->
    <!-- Category Area Start-->
    <section class="category-area section-padding10">
        <div class="container-fluid">
            <!-- Section Tittle -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-tittle text-center mb-85">
                        <h2>Shop by Category</h2>
                        <br>
                        <hr>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-4 col-lg-6">
                    <div class="single-category mb-30">
                        <div class="category-img">
                            <img src="assets/img/categori/electronics_pic.png" alt="electronics_img" />
                            <div class="category-caption">
                                <h2>Electronics</h2>
                                <span class="best"><a href="/products?category=electronics">Shop Now</a></span>
                                <span class="collection">New Items</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6">
                    <div class="single-category mb-30">
                        <div class="category-img text-center">
                            <img src="assets/img/categori/mobiles.jpg" alt="" />
                            <div class="category-caption">
                                <h2>Mobile</h2>
                                <span class="best"><a href="/products?category=mobiles">Shop Now</a></span>
                                <span class="collection">New Items</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6">
                    <div class="single-category mb-30">
                        <div class="category-img">
                            <img src="assets/img/categori/appliance.webp" style="height:280px;" alt="" />
                            <div class="category-caption">
                                <h2>Appliances</h2>
                                <span class="best"><a href="/products?category=appliances">Shop Now</a></span>
                                <span class="collection">New Items</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Category Area End-->

    <!-- Recent Ads Start -->
    <section class="latest-product-area">
        <div class="container">
            <div class="row product-btn d-flex justify-content-end align-items-end">
                <!-- Section Tittle -->
                <div class="col-lg-12">
                    <div class="section-tittle text-center mb-50">
                        <h2>Recent Ads</h2>
                    </div>
                </div>
            </div>
            <div id="cardsId">
                <div class="row">
                    {{#each products}}
                    {{#dataValues}}
                    <div class="column card col-xl-3 m-5">
                        <div class="card-body ">
                            <p><img style="width:100%;height:100%;max-height:170px"
                                    src="data:image/png;base64,{{this.img_data}}" />
                            </p>
                            <p><span id=" itemName" class="label"><b>Name :</b></span> {{this.product_name}}</p>
                            <p><span id="itemPrice" class="label"><b>Price :</b></span> $ {{this.price}} CAD</p>
                        </div>
                    </div>
                    {{/dataValues}}
                    {{/each}}
                </div>
            </div>
            <br>
        </div>
    </section>
    <!-- Recent Ads End -->

    <!-- Latest Offers Start -->
    <div class="latest-wrapper lf-padding" style="padding-top: 100px;">
        <div class="latest-area latest-height d-flex align-items-center" data-background="assets/img/subscribe.png">
            <div class="container">
                <div class="row d-flex align-items-center">
                    <div class="col-xl-5 col-lg-5 col-md-6 offset-xl-1 offset-lg-1">
                        <div class="latest-caption">
                            <h2>Get Our<br />Latest Ads Daily</h2>
                            <p>Subscribe news letter</p>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-5 col-md-6">
                        <div class="latest-subscribe">
                            <form action="/subscription" autocomplete="on">
                                <input autocomplete="on" type="email" placeholder="Your email here" />
                                <button>Subscribe</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Latest Offers End -->

</main>