  <!-- slider Area Start-->
  <div class="slider-area ">
    <!-- Mobile Menu -->
    <div class="single-slider slider-height2 d-flex align-items-center" data-background="assets/img/hero/about_hero.jpg">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center">
                        <h2 style="color: whitesmoke;"> Confirmation </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <!-- slider Area End-->

  {{!-- Order Confirmation area begins --}}

 <section class="confirmation_part section_padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="confirmation_tittle">
            <span>Thank you. Your order has been received.</span>
          </div>
        </div>
        <div class="col-lg-6 col-lx-4">
          <div class="single_confirmation_details">
            <h4>Order information</h4>
            <ul>
              <li>
                <p>Name</p><span id="Name">: </span>
              </li>
              <li>
                <p>date</p><span id="Date">: </span>
              </li>
              <li>
                <p>total</p><span>: CAD 2210</span>
              </li>
              <li>
                <p>Payment Method</p><span>: Check payments</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 col-lx-4">
          <div class="single_confirmation_details">
            <h4>Shipping Information</h4>
            <ul>
              <li>
                <p>Street</p><span>: 56/8</span>
              </li>
              <li>
                <p>Country</p><span>: Los Angeles</span>
              </li>
              <li>
                <p>State/Province</p><span>: United States</span>
              </li>
              <li>
                <p>zip/postal code</p><span>: 36952</span>
              </li>
            </ul>
          </div>
        </div>
       
      </div>
     
        
      
    </div>
  </section>

  
   
<script src="/orderConfirmation.js"></script> 