<section class="confirmation_part">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="confirmation_tittle">
          <span>Thank you. Your order has been received.</span>
        </div>
      </div>
      <div class="col-lg-6 col-lx-4">
        <div class="single_confirmation_details">
          <h4>Order information</h4>
          <ul>
            <li>
              <p>Name</p><span id="name">: </span>
            </li>
            <li>
              <p>date</p><span id="date">: </span>
            </li>
            <li>
              <p>total</p><span id="total">:</span>
            </li>
            <li>
              <p>Payment Method</p><span>: Check payments</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6 col-lx-4">
        <div class="single_confirmation_details">
          <h4>Shipping Information</h4>
          <ul>
            <li>
              <p>Street</p><span id="street">:</span>
            </li>
            <li>
              <p>Country</p><span id="country">:</span>
            </li>
            <li>
              <p>State/Province</p><span id="state">: </span>
            </li>
            <li>
              <p>zip/postal code</p><span id="zip">: </span>
            </li>
          </ul>
        </div>
      </div>

    </div>



  </div>
</section>

<script src="/orderConfirmation.js"></script>