<main>
  <div class="container page-wrapper">
    <div class="col-11 p-5 m-3">
      <h1 style="text-align: center;">Post your ad here !!</h1>
      <br>
      <div class="card">
        <div class="card-block p-3 page-wrapper">
          <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
              <div class="page-wrapper">
                <h2 style="text-align: center;">Create Ad :</h2>
                <form id="uploadForm" enctype="multipart/form-data">
                  <div class="form-group">
                    <label for="product_name">Enter name of the Product :</label>
                    <input type="text" class="form-control" name="product_name" id="product_name">
                  </div>
                  <div class="form-group">
                    <label for="price">Enter the Price :</label>
                    <input type="text" class="form-control" name="price" id="price">
                  </div>
                  <div class="form-group">
                    <label for="category">Choose a Category :</label>
                    <br>
                    {{!-- <input type="text" class="form-control" id="category"> --}}
                    <select id="category" class="form-control" name="category">
                      <option value="Electronics">Electronics</option>
                      <option value="Mobiles">Mobiles</option>
                      <option value="Appliances">Appliances</option>
                    </select>
                  </div>
                  <br>
                  <br>
                  <div class="form-group">
                    <label for="create-image-url">Upload an Image :</label>
                    <input type="file" class="form-control-file form-control" name="image" id="image">
                  </div>
                  <label for="description">Description :</label>
                  <textarea class="form-control" name="description" id="description" rows="5"></textarea>
                  <input type="submit" class="btn btn-primary" id="post-btn" value="Create Post"></input>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<script src="../postProduct.js"></script>