<br>
<br>

<section class="confirmation_part section_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="confirmation_tittle">
                    <span>Thank you for subscribing to our news letter.</span>
                </div>
            </div>
        </div>
    </div>
</section>